body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.box {
    width: 44%;
    margin-right: 6%;
}

.button {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &__delete {
        color: #CC0000;
        font-weight: 900;
        transition: color .3s ease;
        &:hover  {
            color: #ff4141;
        }
        &:active {
            color: #CC0000;
        }
    }
    &__complete {
        color: 	#009900;
        transition: color .3s ease;
        &:hover {
            color: #00CC33;
        }
        &:active {
            color: #009900;
        }
    }
}

 